* {
    margin: 0;
    padding: 0;
}

article, aside, figcaption, figure, footer, header, nav, section
{
    display: block;
}  

body {
    background-color: #FFF5FF;

}

/* LAYOUT RULES */

header {
    width: 40em;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align:center;
}

nav {
    margin: 0 0 5px 0;
    text-align:center;
    
}

    
article {
    background-color: #FFFFFF;
    margin: 0 40px 0 40px; 
    padding: 5px 15px 5px 15px;
}


footer {
    margin: 0 40px 0 40px;
    padding: 10px 0 10px 0;
    text-align:center;
    clear:both;
    background-color: #FFF5FF;
}
    
/* HEADER RULES */

header h1 {
    font-family: "Helvetica Neue", "arial", sans-serif;
    font-size: 55px;
    color: #000000;
    text-decoration:none;
    font-weight: lighter;
}

/* NAV RULES */

nav a {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    line-height:20px;
    font-weight: lighter;    
}

/* ARTICLE RULES */

article h2 {
    margin: 5px 5px 5px 5px;
    font-family: "Helvetica Neue", "arial", sans-serif;
    font-size: 30px;
    color: #000000;     
    font-weight: lighter;
    text-align: center;
    
}

article h3 {
    margin: 5px 0 0 0;
    clear: both;
    width: 45%;
    font-family: "Helvetica Neue", "arial", sans-serif;
    font-size: 24px;
    color: #000000;
    font-weight: lighter;
    text-align: center;
    
    
}

/* DIV RULES */

#wrapper {
    margin: 0 5px 0 5px;
    padding: 20px 20px 20px 20px;
    background-color: #E15B58;
    overflow: hidden;
    
    
}

#left {
    float: left;
    width: 40%;
    background-color: #E15B58;
    
}

#right {
    float: right;
    width: 40%;
}

/* PARAGRAPH RULES */

article p {
    float: left;
    width: 45%;
    margin-top: 10px;
    font-family: "Gilda Display", serif;
    color: #000000;
    font-size: 20px;
    line-height:20px;
    text-align: center;
    
}

footer p {
    font-family: "Gill Sans", serif;
    color: #000000;
    margin: 0 40px 0 40px;
    font-size: 14px;
    line-height:14px;
}

/* IMG RULES */

img {
    float: right;
    width: 50%;
    margin-top: 2px    

}

/* LIST RULES */

article ul {
    float: left;
    width: 45%;
    
}

article ol {
    clear: both;
    width: 40%;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    text-align: center;
    
}

article li {
    list-style-type: none;
    font-family: "Fauna One", serif;    
    padding-top: 5px;
    margin: 2px 50px 0px 50px;
    clear: both;
    font-size:16px;
    line-height: 18px;
    color: #000000;
    text-align: center;

}

/* TABLE RULES */

#left table {
    border: 1px;
    border-style: solid;
    border-color: #000000;
    
}


#left td {
    border: 2px;
    border-style: solid;
    border-color: #000000;
    text-align: left;
    margin: 5px;
    padding: 5px 5px 5px 5px;
    font-family: "Helvetica Neue", sans-serif;
    color: #000000;
    font-weight: lighter;
    font-size: 20px;
    line-height:20px;
}

#right table {
    border: 1px;
    border-style: solid;
    border-color: #000000;
}

#right td {
    text-align: left;
    margin: 5px;
    padding: 5px 5px 5px 5px;
    font-family: "Helvetica Neue", sans-serif;
    color: #000000;
    font-weight: lighter;
    font-size: 20px;
    line-height:20px;
}

#right #white {
    background-color: #FFFFFF;
}

#right #black {
    background-color: #000000;
}

#right #red {
    background-color: #E15B58;
}

#right #brick {
    background-color:#A8130F;
        
}

/* LINK RULES */

nav a:link, nav a:visited {
    padding: 0 16px;
    color: #000000;
    text-decoration: none;

}

nav a:hover, nav a:active {
    background-color: #A8130F;
    text-decoration: none;
    color:#FFF5FF;
}

ul a:link {
    color: #E15B58;
    text-decoration: underline;
}

ul a:visited {
    color:#A8130F;
}

ul a:hover {
    color:#DB1814;
    text-decoration:underline;
}

ol a:link {
    color: #E15B58;
    text-decoration: underline;
}

ol a:visited {
    color:#A8130F;
}

ol a:hover {
    color:#DB1814;
    text-decoration:underline;
}

p a:link {
    color: #E15B58;
    text-decoration: none;
}

p a:visited {
    color:#A8130F;
}

p a:hover {
    color:#DB1814;
    text-decoration:none;
}

 

  

